<!DOCTYPE html>
<html>
<head>
    <title>Bono</title>
    <style>
        /* Aquí puedes añadir estilos CSS */
        .header {
            text-align: center;
        }
        .logo {
            width: 100px; /* Ajusta el tamaño según sea necesario */
        }
        .bono-info {
            margin-top: 20px;
        }
        /* Más estilos... */
    </style>
</head>
<body>
    <div class="header">
        <!-- Incluir el logo -->
        <img src="https://i.postimg.cc/gcPrH4hg/logo.png" alt="Logo" class="logo"/>
        <h1>Hola<b>{{name}}</b></h1>
    </div>

    <p>Este es tu codigo de verificacion : <b>{{verificationCode}}</b> </p>

</body>
</html>
